
{% extends 'main/base.html' %}
{% load form_filters %}

{% block content %}
<h2>Submit a Report</h2>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Submit a Report</h4>
      </div>

      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title|add_class:"form-control" }}
          </div>

          <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description|add_class:"form-control" }}
          </div>

          <div class="mb-3">
            {{ form.area.label_tag }}
            {{ form.area|add_class:"form-control" }}
          </div>

          <div class="mb-3">
            {{ form.photo.label_tag }}
            {{ form.photo|add_class:"form-control" }}
          </div>

          <button type="submit" class="btn btn-success w-100">
            Submit Report
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
